# Ignore everything in the data directory
data/

# Ignore virtual environment directory
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore .python-version file
.python-version